body {
  background-color: #eee;
  font-family: sans-serif;
}

.true {
  text-align: center;
  color: green;
}

.registred,
.button-log {
  cursor: pointer;
  border: none;
  margin-left: 6%;
  margin-top: 20px;
  font-family: serif;
  display: block;
}

.email,
.log-email {
  border: none;
  display: block;
}

.pass,
.log-pass {
  border: none;
  margin-top: 20px;
  display: block;
}

.all-container {
  margin-top: 10%;
  width: 100%;
  margin-left: 42%;
}
